.fejlec {
  background-image: url(https://www.small-screen.co.uk/wp-content/uploads/2019/11/anakin-skywalker-1050x450.jpg);
  background-color: #cccccc;
  width: 100%;
  height: 300px;
  font-family: 'Abril Fatface';
  color: #222;
  font-size: 30px;
}
h3 {
  padding: 150px 0 0 150px;
  margin: 0;
}
h1 {
  padding: 0 0 0 150px;
  margin: 0;
}
.szoveges {
  max-width: 600px;
  font-family: 'Josefin Sans';
  color: #222;
  font-size: 15px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.idezetek {
  font-family: 'Abril Fatface';
  background: #222;
  color: white;
  padding: 30px 0 30px 60px;
  font-size: 20px;
  position: relative;
}
.idezetek #idez {
  position: absolute;
  font-size: 90px;
  color: white;
  background: #222;
  top: 0;
  left: 0;
  font-family: 'Merriweather';
  
}
.picitnagyobb {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0 0 0 ;
}
.kisbetus {
  font-size: 12px;
}
.teljesenmas {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}
.feketecsik {
  height: 3px;
  background: black;
}
.vastagaltalanos {
  font-weight: bold;
}